.messages-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.messages {
    overflow-y: auto;  /* Enable vertical scrolling */
    height: 100%; 
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.messages-hide {
    position: fixed;
    bottom: 0;
    height: 140px;
    width: 100%;
    background: linear-gradient(to right, #BDD7EE, #D257E7);


    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom,
            from(rgba(0, 0, 0, 0)), to(whitesmoke));
}

.input-message {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1200px;
    width: 70%;
    padding-bottom: 20px;
    display: flex;
    box-sizing: border-box;

    textarea {
        flex: 1;
        resize: none;
        border: none;
        outline: none;
        font-size: 16px;
        padding: 10px;
        box-sizing: border-box;

        background: linear-gradient(to right, #283593 97%, #303F9F);
        border-radius: 5px 0px 0px 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        color: #f3f3f3;
    }

    button {
        border-radius: 0px 5px 5px 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: #303F9F;
        border: none;
        cursor: pointer;
    }


    button:hover {
        background-color: #4c5cd6;

        mat-icon {
            color: #f3f3f3;
        }
    }
}

.message {
    width: 70%;
    max-width: 1000px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);

    p {
        padding: 10px;
        white-space: pre-line;
    }

    display: flex;
    flex-direction: row;
}

.clicked{
    color: white;
}

.message-additional {
    button {
        max-width: 16px;
        max-height: 16px;
        background-color: transparent;
        border: none;
        margin-left: 50px;
        padding: 0;

        i {
            max-width: 16px;
            height: auto;
        }
    }

    button:hover{
        cursor: pointer;

        i {
            color: white;
        }
    }
}

.bot-message {
    background: linear-gradient(to bottom, #6a4ac4 97%, #34388a);

    .hexagon-container{
        background-color: #8062d3;
    }
}

.user-message {
    background: linear-gradient(to bottom, #AE1CC6 97%, #AE1CC6);

    .hexagon-container{
        background-color: #dca6f1;
    }
}

@media (min-width: 800px) {
    .user-message {
        margin-left: 15%;
    }
  }


.hexagon-container {
    width: 64px;
  height: 64px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  margin: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

}

//   .hexagon {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: rgba(255, 0, 0, 0.5); /* Adjust the alpha value (last parameter) to control the transparency */
//     clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
//   }