<div class="messages-container" >
    <div class="messages" #scrollContainer>
        <div *ngFor="let message of chatMessages" class="message"
            [ngClass]="{'bot-message': message.author === 'bot', 'user-message': message.author === 'user'}">
            <p>{{ message.text }}</p>
        </div>
    </div>
    <div class="messages-hide">

    </div>
    <div class="input-message">
        <textarea rows="2" appTextareaAutoresize placeholder="Write a message..." [(ngModel)]="userinput" (keyup.enter)="send()"></textarea>
        <button mat-icon-button>
            <mat-icon>send</mat-icon>
          </button>
    </div>
</div>