#container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  /* Header */
  #header {
    flex-shrink: 0;
    height: 60px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Content */
  #content {
    flex-grow: 1;
    overflow: auto;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  :host ::ng-deep app-chat,app-admin {
    display: flex;
    flex-grow: 1;
  }
  
  .router-outlet {
    flex-grow: 0;
  }

  /* Footer */
  #footer {
    flex-shrink: 0;
    height: 60px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }