#container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  /* Header */
  #header {
    flex-shrink: 0;
    width: 100%;
    background: linear-gradient(to right, #DAE3F3 50%, #c4d5f1);
    color: #6531F7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Content */
  #content {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #D257E7;
    background-image: linear-gradient(147deg, #D257E7 0%,#A5A2E8 74%,#A5A2E8 91%);
  }

  :host ::ng-deep app-chat,app-admin {
    display: flex;
    flex-grow: 1;
  }
  
  .router-outlet {
    flex-grow: 0;
  }

  /* Footer */
  #footer {
    flex-shrink: 0;
    height: 60px;
    background: linear-gradient(to right, #1A237E 50%, #311B92);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }